:root {
  --background-dark: #2f303a;
  --bacground-light: #e5e5e5;
  --backgound-grey: #f5f4fa;
  --background-header-n-photo: #ffffff;
  --txt-header-mail-n-phone-n-phototxt: #757575;
  --txt-blue: #2196f3;
  --txt-black: #212121;
  --txt-grey: rgba(255, 255, 255, 0.6);
  --borderline: #ececec;
}

/* links-n-buttons */
.link,
.header-link,
.footer-link,
.footer-adress-link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--txt-blue);
}

.link {
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 14px;
  /*line-height: 16px;*/
  letter-spacing: 0.02em;
  color: var(--txt-black);
}

.header-link {
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 14px;
  /*line-height: 16px;*/
  letter-spacing: 0.02em;
  color: var(--txt-header-mail-n-phone-n-phototxt);
}

.footer-link {
  font-style: normal;
  /*font-weight: normal;*/
  font-size: 14px;
  /*line-height: 24px;*/
  letter-spacing: 0.03em;
  color: var(--txt-grey);
}

.footer-adress-link {
  font-style: normal;
  /*font-weight: normal;*/
  font-size: 14px;
  /*line-height: 24px;*/
  letter-spacing: 0.03em;
  color: var(--background-header-n-photo);
}

.btn {
  background: var(--backgound-grey);
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn-blue {
  color: var(--background-header-n-photo);
  background: var(--txt-blue);
  cursor: pointer;
}

/* hidden-n-special-logo*/
.hidden {
  display: none;
}

.logo {
  font-family: Raleway;
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 26px;
  /*line-height: 31px;*/
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--txt-black);
}

.half-logo {
  color: var(--txt-blue);
}

/* body */
li {
  list-style-type: none;
}

.header-section {
  background: var(--background-header-n-photo);
}

.main {
  background: var(--background-light);
}

.hero-section {
  color: var(--background-header-n-photo);
  background: var(--background-dark);
  text-align: center;
}

.hero-title {
  /*font-style: normal;*/
  font-weight: 900;
  font-size: 44px;
  /*line-height: 60px;*/
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.central-section h3 {
  color: var(--txt-black);
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 14px;
  /*line-height: 16px;*/
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.central-section p {
  color: var(--txt-header-mail-n-phone-n-phototxt);
  /*font-style: normal;*/
  /*font-weight: normal;*/
  font-size: 14px;
  /*line-height: 24px;*/
  letter-spacing: 0.03em;
}

.team-section {
  background: var(-backgound-grey);
}

.title2 {
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 36px;
  /*line-height: 42px;*/
  text-align: center;
  letter-spacing: 0.03em;
}

.team-names {
  color: var(--txt-black);
  /*font-style: normal;*/
  font-weight: 500;
  font-size: 16px;
  /*line-height: 19px;*/
  letter-spacing: 0.03em;
}

.team-proffesion {
  color: var(--txt-header-mail-n-phone-n-phototxt);
}

.portfolio-pic-names {
  color: var(--txt-black);
  /*font-style: normal;*/
  font-weight: bold;
  font-size: 18px;
  /*line-height: 36px;*/
  letter-spacing: 0.06em;
}

.portfolio-descript {
  color: var(--txt-header-mail-n-phone-n-phototxt);
  /*font-style: normal;*/
  /*font-weight: normal;*/
  font-size: 16px;
  /*line-height: 30px;*/
  letter-spacing: 0.03em;
}

.footer-section {
  background: var(--background-dark);
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  /*line-height: 31px;*/
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-header-n-photo);
}
